<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353261626389-aca4os4pftdc1gup56pa2l0qnm3veevv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353261626389-aca4os4pftdc1gup56pa2l0qnm3veevv</string>
	<key>API_KEY</key>
	<string>AIzaSyCQlDdlRyXKwEv7SSNfPfdOq8paEVLYyhI</string>
	<key>GCM_SENDER_ID</key>
	<string>353261626389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.habermerkezi.app</string>
	<key>PROJECT_ID</key>
	<string>haber-merkezi-e3c07</string>
	<key>STORAGE_BUCKET</key>
	<string>haber-merkezi-e3c07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353261626389:ios:cfe24295204a2714225a1c</string>
</dict>
</plist>